* {
    box-sizing: border-box;
}

html {
    max-width: 800px;
    align-content: center;
}

/* comic-neue-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Comic Neue';
  font-style: normal;
  font-weight: 400;
  background-image: url('../font/comic-neue-v8-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

h1 {
    color: #FFDE00;
    text-shadow: 1px 2px 2px rgb(0 , 0, 0);
    text-align: center;
}

header {
    padding: 4rem;
}

footer {
    margin: 2em;
    padding: 2rem;
    border: 4px solid #FFDE00;
}

body {
    font-family: Arial, sans-serif;
    font-weight: 400px;
    font-size: 1.2rem;
    line-height: 1.4em;
    color: ede92d;
    background-image: url("../img/fontSimpson.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

a {
    color: #d63924;
    text-decoration: none;
}

li a:hover {
    color: #ffffff;
    text-decoration: underline;
    background-color: #151dc1;
}

a:visited {
    color: rgb(255, 22, 0);
}

/* CLASS */

.enPx {
    size: 18px;
}

.enRem {
    size: 4rem;
    margin-left: 20px;
}

.enEm {
    size: 2em;
    text-align: center;
    text-decoration: none;
}


/* ID */

#experience {
    color: #FFDE00;
    text-shadow: 1px 2px 2px rgb(0 , 0, 0);
    text-align: center;
}
 
#competences {
    color: #FFDE00;
    text-shadow: 1px 2px 2px rgb(0 , 0, 0);
    text-align: center;
}

#formation {
    color: #FFDE00;
    text-shadow: 1px 2px 2px rgb(0 , 0, 0);
    text-align: center;
}
