* {
    box-sizing: border-box;
}

html {
    max-width: 800px;
    content: justify;
}

/* comic-neue-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Comic Neue';
  font-style: normal;
  font-weight: 400;
  background-image: url('../fonts/comic-neue-v8-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

h1 {
    text-align: center;
}

header {
    padding: 4rem;
}

footer {
    margin: 2em;
}

body {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.4;
    color: darkblue;
    background-color: whitesmoke;
    background-image: url("../img/Bart.jpg");
    background-repeat: non-repeat;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

a {
    color: d63924;
    background-color: 151dc1;
    text-decoration: none;
}

a:hover {
    color: 2456d6;
}

a:visited {
    color: 191b35;
}
